<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}}. It uses data from mapbox.com and weatherstack.com!</p>
           <img class="joker" src="/images/joker.jpg" alt="Cant Load Image">       
        </div>
        
        {{>footer}}
    </body>
</html>