<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            If weather for the city is not showing up, type
            'city name, state name' for better results.
        </div>
        {{>footer}}
    </body>
</html>